body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color:  #40514E;
}
h1{
  margin-top: 5%;
  padding: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.5rem;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: bolder;
}

  .row{
      margin: 3%  ;

  }

  .member{
    padding: 2%;
 }

 .title{
   text-align: center;
 }